@import url('https://fonts.googleapis.com/css?family=Antic+Didone&display=swap');
/* @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'); */
:before{
    box-sizing: border-box;
}
html, body,main{
    padding: 0 !important;
    margin: 0 !important;
    width: 100 !important;
    min-height: 100vh !important;
    height: auto;
    font-family:Antic Didone;
}
main{
    background: url('../home.jpg') center center / auto 110vw;
}
.btn-div{
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.btn-div{
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.phrase-div{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.img-logo{
    --spacing: 10vh;
    position: relative;
    float: left;
    display: block;
    background: #FAFAFA;
    left: var(--spacing);
    top: var(--spacing);
    max-width: 70vw;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    font-size: 2.5em;
}
.img-logo h1{
    margin-bottom: 0;
}
.img-logo p{
    margin-top: 0;
}
.img-logo img{
    display: block;
    max-width: 70vw;
    max-height: 30vh;
    height: auto;
}
@media only screen and (max-width: 1024px) and (orientation: portrait){
    main{
        background-size: auto 110vh;
        background-repeat: no-repeat;
    }
    .img-logo{
        position:relative;
        float: center;
        margin: auto;
    }
}

input{
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
}

.iterate{
    opacity: 1 !important;
    animation-iteration-count: infinite;
    font-size: 1.5em;
}

.auth-msg-font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.auth-msg-font div{
    color: white;
    margin: 10px 0 !important;
}

.text-center{
    text-align: center;
}

.access-denied{
    color: rgb(88, 0, 0) !important;
}

.hide{
    display: none;
}

.show{
    display: block;
}